body {
  font-family: 'Pangolin', cursive;
  background-image: url("../images/background.png");
  background-size: 800px 600px;
}


.header {
  margin-top: 200px;
}



.box {
  text-align: center;
}

img {
  height: 200px;
  width: 200px;
}
 


