html {
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    box-sizing: inherit;
    position: relative;
    background-image: url('../images/graygradient.jpg');
    background-size: 200%;
    color: #1e88dd;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}


img {
    width: 40%;
    height: auto;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

#instructions,
#gameTimer,
#wins,
#losses,
#guessWord,
#guesesLeft,
#currentGuess {

    color: #e84500;
}

.buttonArea {
    margin-bottom: 5%;
}

.gameButton {
    border-radius: 15%;
    padding: 10px 5px;
    margin: 10px;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    margin-left: auto;
    margin-right: auto;
}

.gameButton:hover {
    background-color: #e84500;
    border: none;
    font-family: 'Press Start 2P', cursive;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #e84500;
    padding: 1% 0 1% 0;
}